@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --alert-bar-red: rgb(240, 217, 217);
  --error-text: #a94442;
}

body {
  font-family: 'Rubik', sans-serif;
}

#map {
  height: 75vh;
}